---
Checks: >-
  -*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  bugprone-assert-side-effect,
  bugprone-branch-clone,
  bugprone-implicit-widening-of-multiplication,
  bugprone-inc-dec-in-conditions,
  bugprone-incorrect-roundings,
  bugprone-infinite-loop,
  bugprone-integer-division,
  bugprone-macro-parentheses,
  bugprone-macro-repeated-side-effects,
  bugprone-misplaced-operator-in-strlen-in-alloc,
  bugprone-misplaced-widening-cast,
  bugprone-multiple-statement-macro,
  bugprone-not-null-terminated-result,
  bugprone-posix-return,
  bugprone-signed-char-misuse,
  bugprone-sizeof-expression,
  bugprone-string-literal-with-embedded-nul,
  bugprone-suspicious-include,
  bugprone-suspicious-memory-comparison,
  bugprone-suspicious-memset-usage,
  bugprone-suspicious-missing-comma,
  bugprone-suspicious-realloc-usage,
  bugprone-suspicious-semicolon,
  bugprone-suspicious-string-compare,
  misc-confusable-identifiers,
  misc-misleading-bidirectional,
  misc-misleading-identifier,
  misc-redundant-expression,
  portability-simd-intrinsics
WarningsAsErrors: ''
HeaderFilterRegex: '.*[\\/]hello_world[\\/]src[\\/].*'
SystemHeaders: false
FormatStyle: none
...
