/ {
    extflash0: external-flash {
        compatible = "merryelectronics,mx25r64-custom";
        status = "okay";

        /* Devicetree size is expressed in bits: 64 Mbit = 8 MiB. */
        size-in-bytes = <0x800000>;
        erase-block-size = <4096>;
        write-block-size = <1>;

        partitions {

            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;

            ext_fw_partition: partition@0 {
                label = "ext-fw";
                reg = <0x000000 0x100000>;
            };

            ext_storage_partition: partition@100000 {
                label = "ext-storage";
                reg = <0x100000 0x700000>;
            };
        };
    };
};

/{
    fstab {
        compatible = "zephyr,fstab";

        ext_littlefs: littlefs {

            compatible = "zephyr,fstab,littlefs";
            status = "okay";
            partition = <&ext_storage_partition>;
            mount-point = "/lfs";

            no-format;

            read-size = <16>;
            prog-size = <16>;
            cache-size = <256>;
            lookahead-size = <32>;
            block-cycles = <512>;

        };        
    };
};
